* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	position: relative;
}

li {
	list-style-type: none;
}

nav {
	padding: 10px 10%;
	font-weight: 800;
	position: sticky;
	top: 0;
	background-color: white;
}

nav > ul > li {
	display: inline-block;
	vertical-align: middle;
}

.right-nav {
	display: inline-block;
	float: right;
}

.nav  {
	display: inline-block;
	margin-left: 20px;
}

.tuitt-button {
	background-color: #c2195b;
	padding: 10px 20px;
	border-radius: 20px;
	color: white;
	text-transform: uppercase;
	border: none;
	font-weight: 600;
	font-size: 1rem;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
}

.container {
	margin-right: 10%;
	margin-left: auto;
	width: 40%;
	text-align: right;
	padding-bottom: 3rem;
}

.title, .title-2 {
	font-family: "Zilla Slab";
}

.title {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.subtitle {
	font-weight: 400;
	width: 60%;
	text-align: right;
	margin-left: auto;
}

.apply-button {
	background-color: #c2195b;
	padding: 10px 2.5rem;
	border-radius: 20px;
	color: white;
	border: none;
	font-weight: 600;
	font-size: 1rem;
	margin-top: 1rem;
}

.title-2 {
	font-weight: bolder;
	margin-bottom: 3rem;
	font-size: 2rem;
}

.title-2 ~ p {
	width: 80%;
	margin: 0 auto;
}

.intro, .pre-footer {
	padding: 3rem 0;
	text-align: center;
}

.pre-footer {
	background-color: #f7fbfb;
}

.book-button {
	background-color: #336589;
	padding: 10px 2.5rem;
	border-radius: 20px;
	color: white;
	border: none;
	font-weight: 600;
	margin-top: 1rem;
}

footer {
	margin-top: 2rem;
	margin-bottom: 1rem;
	text-align: center;
}